/* ==== Fonts ==== */
@font-face {
  font-family: Centra;
  src: url("/src/assets/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Centra;
  src: url("/src/assets/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url("/src/assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
}

:root {
  font-size: 16px;
  /* ==== CSS Variables ==== */
  /* ---- colors ---- */
  --almost-black: #121212;
  --dark-grey: #1f1f1f;
  /* --grey: #2a2a2a; */
  --grey: #2f2f2f;
  --gray: var(--grey);
  --font-color: #fff;
  --bg-color: var(--almost-black);
  --base-gradient: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  --gradient-2: linear-gradient(111deg, #FC466B -15%, #3F5EFB 120%);

  /* ---- font attrs ---- */
  --base-font-family: Centra;
  --base-font-weight: 400;
}

/* ==== Reset CSS ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--base-font-family), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--base-font-weight);
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  margin: 0;
  padding: 0;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* img { width: 100%; height: auto; } */

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/* .success, */
p.success {
  color: green;
}

/* .danger, */
p.danger {
  color: red;
}