.contact {
    background: var(--theme-gradient);
    padding: 1em 0 200px 0;
    position: relative;
}

.contact .container {
    margin-top: 4em;
}

.contact .contact-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .contact-image-container h3.hire-me {
    display: block;
    margin: -1em 0 1em;
}

.contact img {
    width: 92%;
    filter: drop-shadow(3px 3px 42px rgba(155, 155, 155, 0.5));
    filter: drop-shadow(10px 14px 13px rgba(20, 20, 20, 0.8));
}

.contact .contact-form-container {
    text-align: center;
}

.contact h3.hire-me {
    display: none
}

.contact h2.lets-chat {
    font-size: 45px;
    font-weight: 700;
    margin: 0.8em 0 0.7em;
}

.contact form {
    margin: 0 1em;
}

.contact form input, .contact form textarea {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.4em;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    width: 100%;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.contact form textarea {
    margin: 0 0 32px 0;
}

.contact form input:focus, .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    /* color: #121212; */
    color: var(--dark-grey);
    box-shadow:
        inset 2px 2px 4px #d1d9e6,
        inset -2px -2px 4px #f9f9f9;
    /* box-shadow:
        inset 4px 4px 4px #d1d9e6,
        inset -4px -4px 4px #f9f9f9; */

}

.contact form input::placeholder, .contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
    /* color: #121212; */
    color: var(--dark-grey);
    opacity: 0.8;
}

.contact form .submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact form .form-status-message {
    margin: 2em 0 0 0;
}

.contact form button {
    background-color: #fff;
    border-radius: 0;
    /* color: #000; */
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 700;
    padding: 14px 48px;
    width: 100%;
    position: relative;
    transition: 0.3s ease-in-out;
}

.contact form button span {
    z-index: 1;
    position: relative;
}

.contact form button:hover {
    color: #fff;
}

.contact form button::before {
    content: "";
    /* background: #121212; */
    background: var(--dark-grey);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
    width: 100%;
}

@media screen and (min-width:768px) {
    .contact {
        padding: 4em 0 200px 0;
    }

    .contact .contact-image-container {
        /* flex-direction: row; */
    }

    .contact .contact-image-container h3.hire-me {
        display: none;
    }

    .contact .contact-form-container {
        text-align: left;
    }

    .contact .contact-form-container h3.hire-me {
        display: block;
    }

    .contact h2.lets-chat {
        margin: 0.2em 0 0.7em;
    }

    .contact form {
        margin: 0em;
    }

    .contact form .submit-container {
        flex-direction: row;
    }

    .contact form button {
        width: auto;
    }

    .contact form .form-status-message {
        margin: 0 0 0 2em;
    }
}