/* ==== Pre-Footer ==== */
.built-with {
    background: #fff;
    border-radius: 55px;
    color: var(--almost-black);
    padding: 40px 40px 30px;
    margin: -122px auto 80px;
    position: relative;
}

.built-with h3 {
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.2em;
    text-align: center;
    margin: 0 0 0.4em;
}

.built-with h3 span {
    background: linear-gradient(131deg, #AA367C 28%, #4A2FBD 71%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

.built-with .tooling-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.built-with .tooling-icons .tooling-icon {
    max-width: 100px;
    width: 100%;
}

.built-with .tooling-icons .tooling-icon img {
    margin-bottom: .5em;
    filter: drop-shadow(3px 3px 4px rgba(20, 20, 20, 0.4));
}

.built-with .tooling-icons .tooling-icon span {
    display: block;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    width: 75px;
}

.built-with .tooling-icons .plus-sign {
    font-size: 5rem;
    padding: 0 1rem 2rem;
}



/* ==== Footer ==== */
.footer {
    font-size: 0.9em;
    background-image: url('../images/backgrounds/footer-bg.png');
    background-image: image-set(
        url('../images/backgrounds/footer-bg.webp') type('image/webp'),
        url('../images/backgrounds/footer-bg.png') type('image/png')
    );
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-bg {
    background-color: var(--darker-grey);
    padding: 1.4em 0 2em 0;
}

.footer p {
    color: var(--light-grey);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.footer .see-what-else {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.footer .see-what-else span {
    color: var(--light-grey);
    font-weight: 500;
    text-transform: capitalize;
    margin: 1em 0 1em 0.6em;
}

.footer .see-what-else > span:first-child {
    white-space: nowrap;
}

.footer .see-what-else .hovered-label {
    color: #fff;
    font-weight: 600;
    text-transform: none;
    margin: 0;
}

.footer .see-what-else .social-icons a.social-icon {
    background: rgba(217, 217, 217, 0.1);
}

.footer .see-what-else .social-icons a.social-icon:last-of-type {
    margin: 0;
}

.footer .see-what-else .social-icons a.social-icon img {
    width: 50%;
}

.footer .see-what-else .social-icons a.social-icon.npm img {
    width: 75%;
    transform: translateY(1px);
}

.footer .footer-right {
    color: #757575;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

}

.footer .footer-right .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    margin: 0 0.8em 2em;
}

.footer .footer-right .migueldotl {
    color: var(--light-grey);
    font-weight: 500;
}

.footer img.logo {
    margin: 0 0 0.2em;
    height: 42px;
    width: 42px;
    filter: invert(.42);
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 576px) {
    .built-with .tooling-icons .plus-sign {
        font-size: 6rem;
        padding: 0 3.2rem 2rem;
    }

    .footer {
        background-position: center center;
    }

    .footer .see-what-else {
        align-items: flex-start;
    }

    .footer .see-what-else span {
        margin: 0 0 0.6em 0.6em;
    }

    .footer .footer-right {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .footer .footer-right .copyright {
        margin: 0 0.8em 0;
        align-items: flex-end;
    }
}