.hero {
    margin-top: 0;
    padding: 260px 0 100px 0;
    padding: 18em 0 10em 0;
    background-image: url('../images/backgrounds/background-2.jpg');
    /* background-image: url('../images/backgrounds/background-1.jpg'); */
    /* background-image: url('../images/backgrounds/hero-bg.png'); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, .5);
    /* background: linear-gradient(60deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .7) 100%); */
    /* background: linear-gradient(42deg, rgba(0, 0, 0, .8) 20%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 80%); */
    background: linear-gradient(42deg, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, .8) 22%, rgba(0, 0, 0, 0.2) 44%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.5) 88%, rgba(0, 0, 0, 1) 99%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

}

.hero .container {
    position: relative;
}


.hero .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.hero h1 {
    /* font-size: 65px; */
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.hero p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.hero button {
    background: none;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}

.hero button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.hero button:hover svg {
    /* margin-left: 25px; */
    transform: rotateZ(90deg);
}

.hero .image-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    height: 27em;
    -webkit-filter: drop-shadow(3px 3px 42px rgba(155, 155, 155, 0.5));
    filter: drop-shadow(3px 3px 42px rgba(155, 155, 155, 0.5));
    animation: updown 6s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-1em);
    }

    50% {
        transform: translateY(1em);
    }

    100% {
        transform: translateY(-1em);
    }
}

/* .txt-rotate > .typing-text { */
.hero .typing-text {
    position: relative;
}

.hero .typing-text::after {
    content: '';
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    position: absolute;
    right: -0.66em;
    height: 1em;
    width: 0.33em;
    animation: cursor-blink 1.8s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}