.projects {
    background-color: var(--almost-black);
    padding: 5em 0;
    padding: 3em 1em;
    position: relative;
}

.projects .container {
    position: relative;
}

.projects h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.projects p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.projects .nav.nav-pills {
    width: 72%;
    /* margin: 0 auto; */
    margin: 3.5em auto;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .1);
    overflow: hidden;
}

.projects .nav.nav-pills .nav-item {
    width: calc(100%/3);
}

.projects .nav.nav-pills .nav-link {
    background-color: transparent;
    /* border: 2px solid transparent; */
    border-radius: 0;
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.projects .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(150deg, #2fbdb6 5%, #5b138b 66%, #a519a1 99%);
    background: var(--base-gradient);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.projects .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.nav-link#project-tabs-tab-client,
.nav-link#project-tabs-tab-misc {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.nav-link#project-tabs-tab-personal {
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
}

.nav-link#project-tabs-tab-client,
.nav-link#project-tabs-tab-client::before {
    border-radius: 55px 0px 0px 55px;
}

.nav-link#project-tabs-tab-misc {
    border-radius: 0 55px 55px 0;
}

.nav-link#project-tabs-tab-misc::before {
    border-radius: 0;
    transition:
        width .3s ease-in-out,
        border-radius 0.6s ease-in-out;
}

.projects .nav.nav-pills .nav-link#project-tabs-tab-misc.active::before {
    border-radius: 0 55px 55px 0;
}


.projects .nav.nav-pills .nav-link#project-tabs-tab-client.active,
.projects .nav.nav-pills .nav-link#project-tabs-tab-personal.active,
.projects .nav.nav-pills .nav-link#project-tabs-tab-misc.active {
    border: 2px solid rgba(255, 255, 255, 1);
}

.projects .nav.nav-pills .nav-link#project-tabs-tab-client:not(.active) {
    border-right: none;
}

.projects .nav.nav-pills .nav-link#project-tabs-tab-misc:not(.active) {
    border-left: none;
}



a.project-card {
    color: var(--base-font-color);
}

.project-card .btn.btn-outline-secondary {
    border: 2px solid #fff;
    color: var(--base-font-color);
    margin: 1em auto;
    transition: 0.3s ease-in-out;
}

.project-card .btn.btn-outline-secondary:hover {
    background-color: rgb(0 0 0/.3);
}

.project-image {
    position: relative;
    border-radius: 0.6em;
    overflow: hidden;
    margin-bottom: 24px;
    z-index: 0;
}

.project-image img {
    width: 100%;
}


.project-image::before {
    content: "";
    background: var(--base-gradient);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.project-image:hover::before {
    height: 100%;
}

.project-content {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.project-image:hover .project-content {
    top: 50%;
    opacity: 1;
}

.project-content h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}

.project-content span {
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.background-image-right {
    /* top: 20%; */
    position: absolute;
    bottom: 0;
    /* width: 35%; */
    height: 100%;
    right: 0;
}

@media screen and (min-width: 576px) {
    .projects {
        padding: 5em 0;
    }
}