.skills {
    margin-top: -50px;
    padding: 50px 0 50px 0;
    position: relative;
}

.skills-container {
    background: #151515;
    background: #1f1f1f;
    border-radius: 64px;
    text-align: center;
    position: relative;
    padding: 60px 50px;
    margin-top: -60px;
}

.skills h2 {
    font-size: 45px;
    font-weight: 700;
}

.skills p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 75px;
}

.skills-slider {
    /* width: 80%; */
    margin: 0 auto;
    position: relative;
}

.skills-slider .item img {
    margin: 0 auto 15px auto;
    width: 50%;
}

.skills-slider .item i.devicon {
    display: block;
    font-size: 10em;
    font-size: 37.5vw;
    width: 50%;
    margin: 0 auto 15px auto;
}


.background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
}

.skills .react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
}

.skills .react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
}

@media screen and (min-width: 576px) {
    .skills-slider .item i.devicon {
        font-size: 13.5em;
    }
}

@media screen and (min-width: 768px) {
    .skills-slider .item i.devicon {
        font-size: 6.5em;
    }
}

@media screen and (min-width: 990px) {
    .skills-slider .item i.devicon {
        font-size: 9em;
    }
}

@media screen and (min-width: 1024px) {
    .skills p {
        width: 80%;
    }

    .skills-slider {
        width: 80%;
    }

    .skills-slider .item i.devicon {
        font-size: 7em;
    }
}

@media screen and (min-width: 1200px) {
    .skills-slider .item i.devicon {
        font-size: 8.5em;
    }
}

@media screen and (min-width: 1400px) {
    .skills-slider .item i.devicon {
        font-size: 10em;
    }
}